<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <!--数据库类型，MySql = 0,SqlServer = 1,Sqlite = 2,Oracle = 3,PostgreSQL = 4-->
    <add key="DbType" value="1" />

    <!--数据库连接字符串-->
    <!--SQL Server 数据库服务器-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;User ID=sa;password=Hy@2016" />-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;Integrated Security=SSPI; " />-->

    <!--SQL Server LocalDb-->
    <add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SolutionLiteDb.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;" />
    <!--<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SolutionDb.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;" />-->

    <!--SQL Server SQLExpress-->
    <!--<add key="ConnectionString" value="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|SolutionDb.mdf; Database=SolutionDb;Trusted_Connection=Yes;" />-->

    <!--SQLite 数据库文件-->
    <!--<add key="ConnectionString" value="DataSource=C:\Users\yuxianye\Source\Repos\SqlSugar\Src\Asp.NetCore2\SqlSeverTest\SqliteTest\DataBase\SolutionDb.sqlite" />-->
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>