<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--正式服务地址-->
    <!--<add key="ServerUri" value ="http://192.168.1.234:13800/"/>-->
    <add key="ThisServerUri" value="http://localhost:13800/" />
    <!--数据库类型，MySql = 0,SqlServer = 1,Sqlite = 2,Oracle = 3,PostgreSQL = 4-->
    <add key="DbType" value="1" />

    <!--数据库连接字符串-->
    <!--SQL Server 数据库服务器-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;User ID=sa;password=Hy@2016" />-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;Integrated Security=SSPI; " />-->

    <!--SQL Server LocalDb-->
    <!--<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;AttachDbFilename=|DataDirectory|\SolutionDb.mdf;Pooling=True;MultipleActiveResultSets=True;" />-->
    <!--<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;Initial Catalog=SolutionDb;Pooling=True;MultipleActiveResultSets=True;" />-->
    <!--<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SolutionDb.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;" />-->
    <!--调试-->
    <add key="ConnectionStringDebug" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SolutionLiteDb.mdf;Integrated Security=SSPI;Connect Timeout=30;MultipleActiveResultSets=True;" />
    <!--<add key="ConnectionStringDebug" value="Data Source=192.168.1.234;Initial Catalog=SolutionLiteDb;User ID=sa;Password=Hy@2016" />-->
    <!--正式，加密-->
    <add key="ConnectionString" value="qhsecCkedhcND9kK6vSGZNKTDKG292QmVTx0votxbnNVC9oUs+fmXmn+oyD40dmO5H6LLuDSqeeKCSyVLzVCRnFR2ZB9uuitJKJ7YBkoQsZaPlXnmEnMY3bozUVwm1v4aeetJZlErX5ppXowFanmeio2gztsIm4VKJRH2/1TxSfS57+02B3+owDBMPB2ArI7YLz4htn/fFvgulYB6JxbQUG7v/qcIsGaALOFdXFH2VE=" />

    <!--SQL Server SQLExpress-->
    <!--<add key="ConnectionString" value="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|SolutionDb.mdf; Database=SolutionDb;Trusted_Connection=Yes;" />-->

    <!--SQLite 数据库文件-->
    <!--<add key="ConnectionString" value="DataSource=C:\Users\yuxianye\Source\Repos\SqlSugar\Src\Asp.NetCore2\SqlSeverTest\SqliteTest\DataBase\SolutionDb.sqlite" />-->

    <!--是否发送心跳电文，true:发送，false:不发送，不配置则不发送-->
    <add key="IsEnableHeartBeat" value="true" />

    <!--发送心跳电文时间间隔，单位秒，实际间隔时间n*2，不配置则默认30秒，实际发送间隔60秒-->
    <add key="HeartBeatInterval" value="30" />

    <!--健康检查时间间隔 单位秒-->
    <add key="HealthCheckInterval" value="600" />

    <!--消息重发次数-->
    <add key="ResendCount" value="3" />

    <!--超时时间，单位：秒 如果发送进程没有在超时阶段(200秒)内收到确认电文或收到负应答，它会通告传输错误管理进程,然后进行重发电文操作，重发次数可以配置。-->
    <add key="Timeout" value="180" />


    <!--产线ID,sender 发送者ID-->
    <add key="Sender" value="26" />

    <!--产线ID,Receiver 接收者ID-->
    <add key="Receiver" value="10" />

    <add key="ServerIP" value="127.0.0.1" />
    <!-- <add key="ServerPort" value="12150" />-->

    <!--telnet通讯服务器的端口-->
    <add key="ServerPort" value="13805" />
    <add key="TelnetUserName" value="yuxianye" />
    <add key="TelnetUserPassword" value="RQPQJfkUoSYpwG7HCKXBN5o5aidPbtjGJd/JNDhJqYM=" />



    <!--本地服务的绑定地址-->
    <!--<add key="BindIP" value="192.168.50.81" />-->
    <add key="BindIP" value="127.0.0.1" />
    <!--本地服务的绑定端口-->
    <add key="BindPort" value="12151" />


    <add key="ServiceName" value="数采服务1" />
    <add key="ServiceDescription" value="数采服务2" />
    <add key="ServiceDisplayName" value="数采服务3" />
  </appSettings>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.ObjectPool" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-1.4.5.0" newVersion="1.4.5.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Http" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-4.3.3.0" newVersion="4.3.3.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Http.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Https" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Hosting" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.7.0" newVersion="2.2.7.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Connections.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets" publicKeyToken="adb9793829ddae60" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />


      </dependentAssembly>
	</assemblyBinding>


  </runtime>
</configuration>