<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--<configSections>
    <section name="superSocket"
             type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService" />
  </appSettings>
  <superSocket xmlns="http://schema.supersocket.net/supersocket"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://schema.supersocket.net/supersocket http://schema.supersocket.net/v1-6/supersocket.xsd">
    <servers>
      <server name="TelnetServerA"
              serverTypeName="TelnetServer"
              ip="Any"
              maxRequestLength="168113"
              port="2020">
      </server>
      <server name="TelnetServerB"
              serverTypeName="TelnetServer"
              ip="Any"
              port="2021">
      </server>
    </servers>
    <serverTypes>
      <add name="TelnetServer"
           type="SuperSocket.QuickStart.TelnetServer_StartByConfig.TelnetServer, SuperSocket.QuickStart.TelnetServer_StartByConfig"/>
    </serverTypes>
  </superSocket>-->
  <appSettings>

    <!--数据库类型，MySql = 0,SqlServer = 1,Sqlite = 2,Oracle = 3,PostgreSQL = 4-->
    <add key="DbType" value="1" />

    <!--数据库连接字符串-->
    <!--SQL Server 数据库服务器-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;User ID=sa;password=Hy@2016" />-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;Integrated Security=SSPI; " />-->

    <!--SQL Server LocalDb-->
    <!--<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;AttachDbFilename=|DataDirectory|\SolutionDb.mdf;Pooling=True;MultipleActiveResultSets=True;" />-->
    <!--<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;Initial Catalog=SolutionDb;Pooling=True;MultipleActiveResultSets=True;" />-->
    <!--<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SolutionDb.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;" />-->

    <!--SQL Server SQLExpress-->
    <!--<add key="ConnectionString" value="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|SolutionDb.mdf; Database=SolutionDb;Trusted_Connection=Yes;" />-->

    <!--SQLite 数据库文件-->
    <!--<add key="ConnectionString" value="DataSource=C:\Users\yuxianye\Source\Repos\SqlSugar\Src\Asp.NetCore2\SqlSeverTest\SqliteTest\DataBase\SolutionDb.sqlite" />-->

    <!--是否发送心跳电文，true:发送，false:不发送，不配置则不发送-->
    <add key="IsEnableHeartBeat" value="true" />

    <!--发送心跳电文时间间隔，单位秒，实际间隔时间n*2，不配置则默认30秒，实际发送间隔60秒-->
    <add key="HeartBeatInterval" value="30" />

    <!--健康检查时间间隔 单位秒-->
    <add key="HealthCheckInterval" value="3" />

    <!--消息重发次数-->
    <add key="ResendCount" value="3" />

    <!--超时时间，单位：秒 如果发送进程没有在超时阶段(200秒)内收到确认电文或收到负应答，它会通告传输错误管理进程,然后进行重发电文操作，重发次数可以配置。-->
    <add key="Timeout" value="180" />

    <!--监视目录-->
    <add key="WatcherPath" value="d:\Test" />
    <!--监视目录文件的类型-->
    <add key="WatcherFilter" value="*.csv" />

    <!--产线ID,sender 发送者ID-->
    <add key="Sender" value="26" />

    <!--产线ID,Receiver 接收者ID-->
    <add key="Receiver" value="10" />

    <add key="ServerIP" value="192.168.1.213" />
    <!-- <add key="ServerPort" value="12150" />-->
    <!--MES通讯服务器的地址-->
    <!--<add key="ServerIP" value="192.168.51.6" />-->
    <!--MES通讯服务器的端口-->
    <add key="ServerPort" value="12150" />



    <!--本地服务的绑定地址-->
    <!--<add key="BindIP" value="192.168.50.81" />-->
    <add key="BindIP" value="192.168.1.213" />
    <!--本地服务的绑定端口-->
    <add key="BindPort" value="12151" />



  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>