<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>

    <!--数据库类型，MySql = 0,SqlServer = 1,Sqlite = 2,Oracle = 3,PostgreSQL = 4,不配置:1，默认：1-->
    <add key="DbType" value="1" />

    <!--数据库连接字符串-->
    <!--SQL Server 数据库服务器-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;User ID=sa;Password=Hy@2016" />-->
    <!--<add key="ConnectionString" value="Data Source=192.168.1.234;Initial Catalog=SolutionDb;Integrated Security=SSPI; " />-->

    <!--SQL Server LocalDb-->
    <!--<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;AttachDbFilename=|DataDirectory|\SolutionLiteDb.mdf;Pooling=True;MultipleActiveResultSets=True;" />-->
    <!--<add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True;Initial Catalog=SolutionLiteDb;Pooling=True;MultipleActiveResultSets=True;" />-->
    <!--调试-->
    <add key="ConnectionStringDebug" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SolutionLiteDb.mdf;Integrated Security=SSPI;Connect Timeout=30;MultipleActiveResultSets=True;" />
    <!--<add key="ConnectionStringDebug" value="Data Source=192.168.1.234;Initial Catalog=SolutionLiteDb;User ID=sa;Password=Hy@2016" />-->
    <!--正式，加密-->
    <add key="ConnectionString" value="qhsecCkedhcND9kK6vSGZNKTDKG292QmVTx0votxbnNVC9oUs+fmXmn+oyD40dmO5H6LLuDSqeeKCSyVLzVCRnFR2ZB9uuitJKJ7YBkoQsZaPlXnmEnMY3bozUVwm1v4aeetJZlErX5ppXowFanmeio2gztsIm4VKJRH2/1TxSfS57+02B3+owDBMPB2ArI7YLz4htn/fFvgulYB6JxbQUG7v/qcIsGaALOFdXFH2VE=" />

    <!--SQL Server SQLExpress-->
    <!--<add key="ConnectionString" value="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|SolutionDb.mdf; Database=SolutionDb;Trusted_Connection=Yes;" />-->

    <!--SQLite 数据库文件-->
    <!--<add key="ConnectionString" value="DataSource=C:\Users\yuxianye\Source\Repos\SqlSugar\Src\Asp.NetCore2\SqlSeverTest\SqliteTest\DataBase\SolutionDb.sqlite" />-->

    <!--是否发送心跳电文，true:发送，false:不发送，不配置则不发送-->
    <add key="IsEnableHeartBeat" value="true" />

    <!--发送心跳电文时间间隔，单位秒，实际间隔时间n*2，不配置则默认30秒，实际发送间隔60秒-->
    <add key="HeartBeatInterval" value="30" />

    <!--健康检查时间间隔 单位秒-->
    <add key="HealthCheckInterval" value="3" />

    <!--消息重发次数-->
    <add key="ResendCount" value="3" />

    <!--超时时间，单位：秒 如果发送进程没有在超时阶段(200秒)内收到确认电文或收到负应答，它会通告传输错误管理进程,然后进行重发电文操作，重发次数可以配置。-->
    <add key="Timeout" value="180" />

    <!--监视目录-->
    <!--<add key="WatcherPath" value="d:\Test" />-->
    <!--<add key="WatcherPath" value="\\192.168.1.233\共享\临时\ToQier" />
    
    <add key="WatcherPath2" value="\\192.168.1.233\共享\临时\ToFurnace" />
    <add key="WatcherPath3" value="\\192.168.1.233\共享\临时\ToMeltingFurnace" />-->

    <!--<add key="ApiUri" value="http://localhost:21021/api/TokenAuth/Authenticate" />-->
    <add key="ApiUri" value="http://localhost:21021/api" />

    <add key="WatcherPath" value="D:\" />

    <add key="WatcherPath2" value="D:\" />
    <add key="WatcherPath3" value="D:\" />

    <!--监视目录文件的类型-->
    <add key="WatcherFilter" value="*.csv" />

    <!--产线ID,sender 发送者ID-->
    <add key="Sender" value="26" />

    <!--产线ID,Receiver 接收者ID-->
    <add key="Receiver" value="10" />

    <add key="ServerIP" value="127.0.0.1" />
    <!-- <add key="ServerPort" value="12150" />-->
    <!--MES通讯服务器的地址-->
    <!--<add key="ServerIP" value="192.168.51.6" />-->
    <!--MES通讯服务器的端口-->
    <add key="ServerPort" value="12150" />



    <!--本地服务的绑定地址-->
    <!--<add key="BindIP" value="192.168.50.81" />-->
    <add key="BindIP" value="127.0.0.1" />
    <!--本地服务的绑定端口-->
    <add key="BindPort" value="12151" />

    <add key="PortName" value="COM1" />
    <add key="BaudRate" value="115200" />

    <add key="HelpDocumentName" value="Help_zh-CN.xps" />
    <add key="Theme" value="BaseLight" />
    <add key="Accent" value="Teal" />


    <!--表格数据每页显示的记录个数 20, 50, 100, 200, 500, 1000,5000,10000-->
    <add key="PageSize" value="200" />
    <!--日志自动刷新间隔，单位秒，最小时间1秒，不设置则默认3秒-->
    <add key="AppLogAutoRefreshInterval" value="3" />
    <!--记住用户名密码-->
    <add key="IsRemberUserName" value="True" />
    <add key="IsRemberUserPassword" value="True" />
    <add key="RemberUserName" value="admin" />
    <add key="RemberUserPassword" value="RQPQJfkUoSYpwG7HCKXBN5o5aidPbtjGJd/JNDhJqYM=" />
  </appSettings>

  <modules>
    <module assemblyFile="Desktop.HeaderBarModule.dll" moduleType="Desktop.HeaderBarModule.HeaderBarModule, Desktop.HeaderBarModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HeaderBarModule" startupLoaded="True" />
    <module assemblyFile="Desktop.HeaderMenuModule.dll" moduleType="Desktop.HeaderMenuModule.HeaderMenuModule, Desktop.HeaderMenuModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HeaderMenuModule" startupLoaded="True" />
    <module assemblyFile="Desktop.LoginModule.dll" moduleType="Desktop.LoginModule.LoginModule, Desktop.LoginModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LoginModule" startupLoaded="True" />
    <module assemblyFile="Desktop.ShellModule.dll" moduleType="Desktop.ShellModule.ShellModule, Desktop.ShellModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ShellModule" startupLoaded="True" />
    <module assemblyFile="Desktop.MainBoardModule.dll" moduleType="Desktop.MainBoardModule.MainBoardModule, Desktop.MainBoardModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MainBoardModule" startupLoaded="True" />
    <module assemblyFile="Desktop.StatusBarModule.dll" moduleType="Desktop.StatusBarModule.StatusBarModule, Desktop.StatusBarModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StatusBarModule" startupLoaded="True" />
    <module assemblyFile="Desktop.TreeMenuModule.dll" moduleType="Desktop.TreeMenuModule.TreeMenuModule, Desktop.TreeMenuModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TreeMenuModule" startupLoaded="True" />

    <!--<module assemblyFile="Desktop.AppLogModule.dll" moduleType="Desktop.AppLogModule.AppLogModule, Desktop.AppLogModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AppLogModule" startupLoaded="True" />
    <module assemblyFile="Desktop.UserModule.dll" moduleType="Desktop.UserModule.UserModule, Desktop.UserModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UserModule" startupLoaded="True" />-->


  </modules>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.4.0" newVersion="5.11.4.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.3.0" newVersion="5.11.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
	    <dependentAssembly>
			<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
	    </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>